<button onclick="window.location.href='/pages/chat.html'">Ir al chat</button>
<h1>Nombre: {{this.alias}}</h1>
<h3>Email: {{this.email}}</h3>
<h3>Foto de Perfil:</h3>
<img src={{this.avatar}} alt="Foto de perfil"> 